table {
  min-width: 60%;
}

.table{
  border-radius: 5px;
}

.icons{
  display: flex;
  gap: 5px;
}

.grow {
  display: inline-block;
  transition-duration: .3s;
  transition-property: transform;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
  }
}

.subject{
  cursor: pointer;
  display: inline-block;
  transition-duration: .3s;
  transition-property: transform;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    background-color: whitesmoke;
  }
}

