<table mat-table [dataSource]="students" class="mat-elevation-z8 table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- primer apellido Column -->
  <ng-container matColumnDef="primer_apellido">
    <th mat-header-cell *matHeaderCellDef> Primer apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.first_Name}} </td>
  </ng-container>

  <!-- telefono Column -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.telephone_Number}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Genero Column -->
  <ng-container matColumnDef="genero">
    <th mat-header-cell *matHeaderCellDef> Genero </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <!-- Genero Column -->
  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef> opciones </th>
    <td mat-cell *matCellDef="let element">
      <div class="icons">
        <mat-icon class="grow" data-id="{{element.id}}" (click)="deleteStudent($event)">delete</mat-icon>
        <mat-icon class="grow" data-id="{{element.id}}"(click)="openDialog($event)">edit</mat-icon>
        <mat-icon class="grow" data-id="{{element.id}}">more_vert</mat-icon>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>




