.form_styles{
  display: flex;
  gap: 10px;
}

.select{
  width: 100%;
}

.modify_form{
  display: flex;
  flex-direction: column;
}

.title{
  align-self: center;
}

.options{
justify-content: space-between;
}
