<div class="container">
  <div class="first-header">
    <div class="symbol">
      <img src="../../../../assets/app-icon.png" alt="app-icon">
    </div>
    <span class="span grow" routerLink="/students/students-page">Estudiantes</span>
    <span class="span grow" routerLink="/students/califications-page">Calificaciones</span>
  </div>

  <div class="second-header">
    <span class="label">Asistencias de los estudiantes</span>
    <span class="grow">
      <button class="add_student" (click)="openDialog()">
        <div>
          <img src="../../../../assets/add_icon.png" alt="" class="add_img">
        </div>
        Nueva asistencia
      </button>
    </span>
  </div>

  <shared-assistance-table [assistances]="assistances"></shared-assistance-table>

</div>
